.info-panel {
  background-color: var(--second-bg);
  position: fixed;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 350px;
  right: -250px;
  padding: 10px 10px 10px 10px;
  transition: right 0.2s ease-in-out, opacity 0.2s ease-in-out;
  z-index: 1000;
  opacity: 0;
  overflow-y: auto;
}

.info-panel-show {
  right: 0;
  opacity: 1;
}

#toggle-info-button.panel-open {
  z-index: 900;
}

.info-panel .close-info-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.4rem;
  padding: 5px 13px;
  cursor: pointer;
  z-index: 1100;
  padding: 5px 13px;
  transition: background-color 0.2s;
  background-color: var(--second-bg);
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.info-panel .close-info-btn:hover {
  background-color: var(--accent-darker);
}

.info-panel .side-panel{
  background-color: var(--second-bg);
  position: absolute;
  top: 0px;
  right: 307px;
  border-radius: 0 0 12px 0;
  z-index: 1100;
}

#request-stats {
  font-size: 0.9rem;
  margin-top: 24px;
}

#request-stats .info-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 2px 0;
}

#request-stats hr {
  border-color: #444;
  margin: 8px 0;
}